.bgEffect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10;
  transition: none;
}

.login {
  max-width: 600px;
  width: 90%;
  height: 300px;
  padding: 25px;
  position: fixed;
  left: 50%;
  top: 50%;
  background: var(--color-bg-primary);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: var(--color-button-primary);
  overflow: hidden;
  z-index: 11;
}

.login > form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ===CONTENT=== */

.formContent {
  height: 100%;
  width: 100%;
}

/* ===PROFILE=== */

.formContent > img {
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 5px;
  height: 150px;

  transition: height 0.3s ease-in-out;
}
.formContent > img:hover {
  height: calc(100% - 75px - 2.5rem);
}

/* ===TITLE=== */

.formTitle,
.formTitle > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.formTitle > div > p {
  cursor: pointer;
  font-size: 12px;
  line-height: 40px;
}

/* ===INPUT GROUP=== */

.formGroup {
  position: relative;
  width: 100%;
  height: 25%;
}

.formGroup > * {
  cursor: pointer;
  color: var(--color-gray);
}

.formGroup > label {
  color: var(--color-lightgray);
  font-size: 16px;
  position: absolute;
  left: 10px;
  bottom: 8px;
  pointer-events: none;
  transform-origin: 0 0;
}

.formGroup > input {
  width: 100%;
  height: 2rem;
  border-bottom: 2px solid var(--color-lightgray);
  padding: 0 10px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}

.formGroup > input,
.formGroup > label {
  transition-property: color, border-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.formGroup > input::placeholder {
  color: transparent;
}

.formGroup > input:focus {
  box-shadow: none;
  outline: none;
}

.formGroup > input:hover,
.formGroup > input:hover + label,
.formGroup > input:focus,
.formGroup > input:focus + label {
  border-color: var(--color-button-primary);
  color: var(--color-button-primary);
}

.formGroup > input:focus + label,
.formGroup > input:not(:placeholder-shown) + label {
  transform: translateY(-1.25rem) scale(0.8);
}

/* ===BUTTONS=== */

.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  width: 50%;
  max-width: 150px;
  height: 2.5rem;
  padding: 0 20px;
  margin-top: 1rem;

  font-size: 15px;
  font-weight: bold;

  color: var(--color-button-primary);
  border: 1px solid var(--color-button-primary);
  border-radius: 4px;

  cursor: pointer;

  transition-property: color, background-color, filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn.active,
.btn:hover {
  color: var(--color-bg-primary);
  background: var(--color-button-primary);
}

.btn.active:hover {
  filter: grayscale(50%);
}

/* ===ERROR=== */

.error {
  color: red;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
}
