:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #faf9f7;

  --color-button-primary: #ff5722;

  --color-hover-effect-primary: #1e905d;

  --color-lightgray: #959595;
  --color-gray: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background: var(--color-bg-secondary);
}

section {
  background-color: var(--color-bg-primary);
}
